$darkblue :  #054470;
$lightblue :  #054470;
$darkblue1 : #044470;
$paragraph : #333;
$heading : #0f77be;



body
{
	background: #ADADAD;
}
.bg{
    background-color: #FFFFFF!important;
    max-width: 940px;
    margin: auto;
    padding: 0px;
    border-bottom: 10px solid #d7d7d7;
    .right 
    {
        position: relative;
        padding-top: 6px;
        .dropdown
        {
            float: right;
        }
        img
        {
            position: absolute;
            right: 12px;
            top: 55px;
            padding-right: 10px;
        }
    }
    p
    {
    	text-align: right;
        font-size: 16px;
        color: $darkblue;
        padding-right: 10px;
    }
}
.bg1
{
    max-width: 940px;
    margin: auto;
    padding: 0px;
    img
    {
        width: 100%;
    }
}
.bg2
{
    max-width: 940px;
    margin: auto;
    background-color: #fff;
    .col-md-4
    {
        h3
        {
            font-size: 21px;
            color: $heading;
            text-shadow: 1px 1px 1px #bbb;
            margin: 10px 0 5px 10px;

        }
        h4
        {
            color: $darkblue;
            font-size: 16px;
            text-shadow: 1px 1px 1px #bbb;
            margin: 0 0 5px 10px;
            line-height: 23px;
        }
    }
    .col-md-8
    {
        border-right: 1px dotted black;
        margin-top: 10px;
        margin-bottom: 10px;
        p
        {
            margin-top: 8px;
            margin-bottom: 10px;
            font-size: 12px;
            color: $paragraph;
        }
        h2
        {
            font-size: 21px;
            color: $heading;
            text-shadow: 1px 1px 1px #bbb;
        }
        strong
        {
            font-size: 12px;
            font-weight: bold;
            color: $paragraph;
        }
    }
}
.footer
{
    background: $darkblue1;
    max-width: 940px;
    padding-top: 5px;
    p
    {
        font-size: 11px;
        line-height: 25px;
        color: #fff;
        padding-bottom: 5px;
        span
        {
            float: right;
        }
    }
}